*{
    margin: 0;
    padding: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12px;
    background-color: rgba(57, 102, 138, 0.637);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 65px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}
.logo:hover{
    color: orangered;
    text-shadow: 0 0 25px rgba(168, 134, 122, 0.555),
                0 0   50px orangered;
    transform: scale(1.1);
}
.span{
    color: orangered;
}
.navbar a{
   font-size: 18px;
   color: white;
   font-weight: 500;
   margin: 0 20px;
   border-bottom: 3px solid transparent;
   transition: 0.3s ease;
}
.navbar a:hover
.navbar a:hover{
    color: orangered;
    border-bottom: 3px solid red;
}
.contect{
    padding: 10px 28px;
    background-color: antiquewhite;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}
.contect:hover{
    background-color: orangered;
    box-shadow: orangered;
    color: white;
}
.home{
    width: 100%;
    min-height: 100vh;
    background: rgba(241, 237, 236, 0.555);
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}
.home-content h3{
       font-size: 42px;   
}
.home-content h1{
    font-size: 62px;
    line-height: 1.2;
}
.home-content p{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 25px 0 30px;
}
.btn-box{
    width: 345px;
    display: flex;
    gap: 2em;
    border-radius: ;
}
.btn1{
    padding: 15px 28px;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: o.3s ease;
    cursor: pointer;    
}
.btn1:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px solid black;
}
.btn2{
    padding: 15px 28px;
    background-color: rgb(150, 72, 28);
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: o.3s ease;
    cursor: pointer;    
}
.btn2:hover{
    background-color: white;
    color: rgb(0, 0, 0);
    border: 2px solid black;
}
.img-box{
    border-radius: 50%;
    width: 450px ;
    padding-top: 50PX;
}
::-webkit-scrollbar{
width: 15PX;
}
::-webkit-scrollbar-thumb{
    background-color: orangered;
}
::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.6);
    width: 50PX;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background: rgb(0, 0, 0);    
}
.about-img img{
    position: relative;
    width: 450px;
    box-shadow: 0 0 25px orangered, 
                0 0 25px orangered;
}
.about-content h2{
    text-align: left;
    color: rgb(146, 99, 99);
    font-size: 42px;
}
.about-content h3{
    font-size: 62px;
    color: rgb(248, 246, 246);
}
.about-content p{
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin: 5em 0 2em;
}
.contect-from{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size:50px;
}
.contect-from from{
    max-width: 5%;
    margin: 1em auto;
    text-align: center;
    margin-bottom: 3em;
}
.contect-form foem .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contect-from from .input-box input,
.contect-form form{
    width: 100%;
    padding: 1.5em;
    font-size: 20px;
    color: rgb(143, 60, 60);
    background-color: rgb(255, 255, 255);
    border-radius: 50rem;
    margin: 1rem;
    resize: none;
}